.ShopItem {
  display: grid;
  grid-template-areas: 'name name' 'buy buy';
  grid-template-rows: 2fr 1fr;
  background: url('/i/ShopItem2.jpg') center center no-repeat;
  background-size: cover;
  border: 5px ridge #b78d53;
  border-radius: 25px;
  position: relative;
  margin: 21px;
  padding: 14px 7px;
  box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.75);
}

.ShopItem h3 {
  grid-area: name;
  color: #fff;
  background-color: #1a901a;
  border-top: 4px solid #09a709;
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 26px;
  text-align: center;
  font-weight: normal;
  justify-content: center;
  box-shadow: 0px 10px 21px -1px rgba(0,0,0,0.75);
  z-index: 1;
}

.ShopItem__buy {
  background:url('/i/paper.png');
  background-size: contain;
  border:3px solid #8f7250;
  width: 100%;
  height: 60px;
  grid-area: buy;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.75), 0px 10px 21px -1px rgba(0,0,0,0.75);
  padding: 7px;
}

.ShopItem h3::after {
  content: '';
  height: 80px;
  width: 20px;
  top: 10px;
  background-color: #147714;
  right: -20px;
  position:absolute;
  box-shadow: 9px 10px 21px -1px rgba(0,0,0,0.75);
}

.ShopItem h3::before {
  content: '';
  height: 80px;
  width: 20px;
  background-color:#147714;
  left: -20px;
  position: absolute;
  top: 10px;
  box-shadow: -10px 10px 21px -1px rgba(0,0,0,0.75);
}

.ShopItem__price {
  font-size: 28px;
  color: gold;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 7px;
}

.ShopItem__buy button {
  width: 80px;
  height: 50px;
  position: relative;
  background: url('/i/stone.jpg');
  border: 3px solid #676662;
  border-radius: 5px;
  background-size: contain;
  background-color: #787875;
  align-self: flex-start;
  color: #fff;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: -10px;
  box-shadow: 0px 10px 21px -1px rgba(0, 0, 0, 0.75);
  transition: all .05s linear;
  cursor: pointer;
}

.ShopItem__buy button:hover {
  box-shadow: 0px 8px 12px -1px rgba(0, 0, 0, 0.9);
  top: -6px;
  transform: scale(0.95);
}

.ShopItem__buy button:active {
  box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 1);
  top: -5px;
  transform: scale(0.93);
}

.ShopItem__buy button:focus {
  outline: transparent;
}

.ShopItem span {
  display: block;
  height: 15px;
  width: 15px;
  background-color: gold;
  border-bottom: 2px solid goldenrod;
  border-right: 1px solid goldenrod;
  border-bottom-right-radius: 10px;
  border-radius: 100px;
  margin-right: 7px;
}
