.Ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Ad__content {
  display: grid;
  grid-area: content;
  grid-template-areas: 'desc desc' '. . ' 'solve .';
  width: 85%;
  padding: 35px;
  justify-self: center;
  background: #eccca6;
  height: 100%;
  word-break: break-word;
  box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.75), 0px 10px 21px -1px rgba(0,0,0,0.75);
  grid-gap: 21px;
}

.Ad h3{
  font-size: 32px;
  grid-area: desc;
  font-weight: bold;
}

.Ad__expiration, .Ad__probability {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.Ad__reward {
  font-size: 42px;
  color: gold;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ca4848;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  justify-self: center;
}

.Ad__reward span {
  display: block;
  height: 30px;
  width: 30px;
  background-color: gold;
  border-bottom: 5px solid goldenrod;
  border-right: 4px solid goldenrod;
  border-bottom-right-radius: 10px;
  border-radius: 100px;
  margin-right: 7px;
}

.Ad button {
  grid-area: solve;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: 42px;
  transition: all .2s;
  padding: 7px;
  position: relative;
}

.Ad button::before {
  content: '✔';
  position: absolute;
  display: block;
  opacity: 0;
  right: -35px;
  top: 5px;
}

.Ad button:hover {
  cursor: pointer;
  border-radius: 10px;
  color: green;
}

.Ad button:hover::before {
  opacity: 1;
}

.Ad__roll {
  position: absolute;
  height: 30px;
  width: 100px;
  background-color: #eccca6;
  border-top: 3px solid #8c7a64;
  border-bottom: 10px solid #968169;
  border-radius:10px;
}

.Ad__roll::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 4px;
  height: 20px;
  width: 30px;
  background-color: #6a3b21;
  box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.75), 0px 10px 21px -1px rgba(0,0,0,0.75);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Ad__roll::after {
  content: '';
  position: absolute;
  right: -30px;
  top: 4px;
  height: 20px;
  width: 30px;
  background-color: #6a3b21;
  box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.75), 0px 10px 21px -1px rgba(0,0,0,0.75);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Ad__roll--top {
  top: -25px;
  width: 90%;
  grid-area: top;
  box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.75), 0px 10px 21px -1px rgba(0,0,0,0.75);
}

.Ad__roll--bottom {
  bottom: -25px;
  width: 90%;
  grid-area: bottom;
  box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.75), 0px 10px 21px -1px rgba(0,0,0,0.75);
}