.AdBoard {
  background-color: #deb887;
  background-image: url('/i/adboard.jpg');
  background-position: left bottom;
  background-size: cover;
  padding: 28px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
  grid-gap: 21px;
  grid-area: ads;
}
