.ShopBoard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
  overflow-y: auto;
  background-color: #4c4c4c;
  padding: 28px;
  grid-gap: 21px;
  transform: rotate3d(0, 1, 0, -5deg);
  transform-origin: right;
}