.ShopItem {
  display: grid;
  border-bottom: 10px solid #deb887;
  grid-template-areas: 'name name' 'price buy';
  grid-template-rows: 2fr 1fr;
  background-color: #333333;
  padding: 21px;
}

.ShopItem h3 {
  grid-area: name;
  color: #fff;
}

.ShopItem button {
  grid-area: buy;
  background-color: transparent;
  border: 1px solid #deb887;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  align-self: center;
  justify-self: flex-end;
  color: #fff;
  transition: all .2s;
}

.ShopItem button:hover {
  cursor: pointer;
  border-radius: 10px;
}

.ShopItem p {
  font-size: 28px;
  color: gold;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.ShopItem span {
  display: block;
  height: 15px;
  width: 15px;
  background-color: gold;
  border-bottom: 2px solid goldenrod;
  border-right: 1px solid goldenrod;
  border-bottom-right-radius: 10px;
  border-radius: 100px;
  margin-right: 7px;
}
